@model Polyclinic.Web.Models.PatientViewModel

@{
    ViewData["Title"] = "CreatePatient";
}

<div class="d-flex justify-content-between">
    <h1>Edit Patient</h1>
    <div class="mt-2">
        <a asp-action="GetPatients" class="btn btn-secondary" asp-controller="Patient">Back to List</a>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPatient">
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="PatientId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Surname" class="control-label"></label>
                <input asp-for="User.Surname" class="form-control" />
                <span asp-validation-for="User.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BornDate" class="control-label"></label>
                <input asp-for="User.BornDate" class="form-control" />
                <span asp-validation-for="User.BornDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PassportData" class="control-label"></label>
                <input asp-for="User.PassportData" class="form-control" />
                <span asp-validation-for="User.PassportData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Snills" class="control-label"></label>
                <input asp-for="User.Snills" class="form-control" />
                <span asp-validation-for="User.Snills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policy" class="control-label"></label>
                <input asp-for="Policy" class="form-control" />
                <span asp-validation-for="Policy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
