@model Polyclinic.Web.Models.DoctorViewModel

@{
    ViewData["Title"] = "CreateDoctor";
}

<div class="d-flex justify-content-between">
    <h1>Edit Doctor</h1>
    <div class="mt-2">
        <a asp-action="GetDoctors" class="btn btn-secondary" asp-controller="Doctor">Back to List</a>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="DoctorId" />
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Surname" class="control-label"></label>
                <input asp-for="User.Surname" class="form-control" />
                <span asp-validation-for="User.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BornDate" class="control-label"></label>
                <input asp-for="User.BornDate" class="form-control" />
                <span asp-validation-for="User.BornDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PassportData" class="control-label"></label>
                <input asp-for="User.PassportData" class="form-control" />
                <span asp-validation-for="User.PassportData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Snills" class="control-label"></label>
                <input asp-for="User.Snills" class="form-control" />
                <span asp-validation-for="User.Snills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialtyId" class="control-label"></label>
                <div>
                    <select asp-for="SpecialtyId" class="form-select custom-select" asp-items="ViewBag.Specialties">
                        <option selected="selected" disabled="disabled">Choose specialty</option>
                    </select>
                </div>
                <span asp-validation-for="SpecialtyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseNumber" class="control-label"></label>
                <input asp-for="LicenseNumber" class="form-control" />
                <span asp-validation-for="LicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
